/* Card */
.card {
  border-radius: var(--border-radius-card);
}

.card--NewFastBet {
  gap: var(--inner-card-indent);
  display: flex;
  flex-direction: column;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--indent-card);
}

.card__header-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.card__header-collapseButton {
  cursor: pointer;
  font-size: 12px;
}

.card__header-title-symbol {
  width: 5px;
  height: 5px;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* FAST BETS */
.card__header--FastBets-modalLink {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .card__header {
    padding-left: 15px;
    padding-right: 5px;
    margin-bottom: 20px;
  }

  .card__header--MobileHidden .card__header-title {
    opacity: 0;
    pointer-events: none;
  }
}