.dropdown {
  width: fit-content;
}

.dropdown__select {
  position: relative;
  width: fit-content;
  font-size: 14px;
  min-width: 70px;
}

.dropdown__select-defaultValue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  padding: 4px 8px 4px 4px;
  border-radius: 12px;
}

.dropdown__select-list div, .dropdown__select-defaultValue {
  color: #ffffff;
  cursor: pointer;
}

.dropdown__select-list {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.dropdown__select-list-item {
  cursor: pointer;
  padding: 4px 8px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.dropdown__select-list-item:hover {
  color: var(--color-important);
}

.dropdown__select-list-item abbr {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown__select-defaultValue--MenuOpened {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.dropdown__select-list div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}