@import "matchCard--Expandable.css";
@import "matchCard--FastBet.css";

[data-section-content='UpcomingMatches'] .matchCard__body {
  min-height: 73px;
}

.matchCard__body {
  z-index: 1;
}

  /* Head text */
.matchCard__headText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matchCard__headText-tabsGradientWrapper {
  max-width: 280px;
}

.matchCard__headText-tabs {
  scrollbar-width: none;
}

.matchCard__headText-tabs::-webkit-scrollbar {
  display: none;
}


.matchCard__headText-timeAgo-clockIcon {
  margin-bottom: 1px;
}

.matchCard__headText-timeAgo {
  display: flex;
  align-items: center;
  font-size: 11px;
  gap: 6px;
  padding-left: 25px;
  margin-bottom: 4px;
  max-width: 165px;
  width: 100%;
}

.matchCard__headText-timeAgo-symbol {
  width: 3px;
  height: 3px;
}

.matchCard__headText-title {
  max-width: 165px;
  width: 100%;
  text-align: right;
  font-size: 11px;
  padding-right: 10px;
  margin-bottom: 4px;
}

/* Body */
.matchCard__body {
  display: flex;
  align-items: stretch;
  /*margin-left: 5px;*/
  position: relative;
}

.matchCard__body[data-icon-side="true"] .matchCard__body-SideIcon {
  visibility: visible;
}

.matchCard__body-SideIcon {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: 8px;
}

/* Match type colored box */
.matchCard__body-matchTypeBox {
  padding: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--border-radius-card);
  border-bottom-left-radius: var(--border-radius-card);
  max-width: 20px;
  width: 100%;
}

.matchCard__body-matchTypeBox-icon {
  max-width: 14px;
  max-height: 20px;
  filter: brightness(0) invert(1);
}

/* Main content */
.matchCard__body-main {
  display: flex;
  align-items: center;
  gap: 5%;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.matchCard__body-main-textInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.matchCard__body-main-textInfo--FirstTeam {
  max-width: 130px;
  /*width: 100%;*/
}

.matchCard__body-main-textInfo-key {
  font-size: 14px;
  /*max-width: 130px;*/
}

.matchCard__body-main-textInfo-value {
  font-size: 12px;
  max-width: 130px;
}

.matchCard__body-main-LeagueImg {
  margin-left: auto;
  max-width: 120px;
  width: 100%;
  height: 100%;
  max-height: 55px;
  object-fit: contain;
}

/* MATCH TYPES */
.matchCard__body-matchTypeBox[data-match-discpiline='dota2'] {
  background-color: var(--discipline-dota2);
}

.matchCard__body-matchTypeBox[data-match-discpiline='cs_go'] {
  background-color: var(--discipline-cs-go);
}

.matchCard__body-matchTypeBox[data-match-discpiline='overwatch'] {
  background-color: var(--discipline-overwatch);
}

.matchCard__body-matchTypeBox[data-match-discpiline='hs'] {
  background-color: var(--discipline-hs);
}

.matchCard__body-matchTypeBox[data-match-discpiline='soccer'] {
  background-color: var(--discipline-soccer);
}

.matchCard__body-matchTypeBox[data-match-discpiline='basketball'] {
  background-color: var(--discipline-basketball);
}

.matchCard__body-matchTypeBox[data-match-discpiline='hockey'] {
  background-color: var(--discipline-hockey);
}

.matchCard__body-matchTypeBox[data-match-discpiline='lol'] {
  background-color: var(--discipline-lol);
}

.matchCard__body-matchTypeBox[data-match-discpiline='sc'] {
  background-color: var(--discipline-sc);
}

.matchCard__body-matchTypeBox[data-match-discpiline='valorant'] {
  background-color: var(--discipline-valorant);
}

.matchCard__body-matchTypeBox[data-match-discpiline='other'] {
  background-color: var(--discipline-other);
}

/* IMAGE BACKGROUND */
.matchCard__body-main-teamImg--Substrate {
  background-color: var(--dark-image-substrate);
}


/* SHORT CARD */
.matchCard--Short .matchCard__headText-timeAgo {
  padding-left: 10px;
}

.matchCard--Short .matchCard__headText-title {
  padding-right: 25px;
}

.matchCard--Short .matchCard__body-main {
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 16px;
}

.matchCard--Short .matchCard__body-main-textInfo-key {
  font-size: 12px;
  color: var(--color-inactive);
}

.matchCard--Short .matchCard__body-main-textInfo-key[data-winner-icon="true"] {
  font-weight: 700;
  color: var(--color-important);
}

.matchCard--Short .matchCard__headText-title {
  max-width: 100px;
  font-size: 11px;
}

.matchCard--Short .matchCard__body-main-teamImg {
  max-width: 16px;
}

/* ICON RIGHT SIDE */
.matchCard--IconRight .matchCard__body {
  margin-left: 0;
  margin-right: 5px;
}

.matchCard--IconRight .matchCard__body-SideIcon {
  right: -16px;
  left: unset;
}

.matchCard--IconRight .matchCard__body-main {
  padding-right: 20px;
}

.matchCard--IconRight .matchCard__body-matchTypeBox {
  order: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--border-radius-card);
  border-bottom-right-radius: var(--border-radius-card);
}

/* TODO: variant of flexible card */
.matchCard__body-main-textInfo-key {
  width: 100%;
}

.matchCard__body-main {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

.matchCard__body-main-centerBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.matchCard__body-main-textInfo--FirstTeam,
.matchCard__body-main-textInfo--SecondTeam {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


@media screen and (max-width: 1200px) {
  .matchCard--Short .matchCard__body-main {
    padding-left: 10px;
    padding-right: 5px;
    gap: 12px;
  }

  .matchCard__body-main-LeagueImg {
    max-width: 90px;
  }
}

@media screen and (max-width: 991px) {
  .matchCard__body-main-textInfo--FirstTeam,
  .matchCard__body-main-textInfo--SecondTeam {
    max-width: 100%;
  }

  .matchCard__body-SideIcon {
    top: -11px;
    left: 8px;
    max-width: 7px;
  }

  .matchCard__body {
    margin-left: 0;
  }

  .matchCard__body-main {
    justify-content: space-evenly;
    padding-right: 20px;
  }

  .matchCard__body-main-LeagueImg {
    margin-left: unset;
  }

  .matchCard--IconRight .matchCard__body {
    margin-left: 0;
    margin-right: 0;
  }

  .matchCard--IconRight .matchCard__body-SideIcon {
    right: 6px;
    left: unset;
  }

  .matchCard--Short .matchCard__body-main-textInfo-key {
    max-width: unset;
  }
}

@media screen and (max-width: 576px) {
  .matchCard__body-main-LeagueImg {
    display: none;
  }

  .matchCard__body-main {
    justify-content: space-evenly;
    padding: 25px 10px;
    gap: 10px;
  }

  .matchCard__body-main-textInfo-key {
    font-size: 12px;
  }

  .matchCard__body-main-textInfo {
    gap: 6px;
  }

  .matchCard__body-main-textInfo-key {
    max-width: 100px;
  }

  .matchCard__headText-title {
    max-width: 100px;
  }

  .matchCard__headText-tabsGradientWrapper {
    max-width: 200px;
  }

  /* TODO: */
  .matchCard__headText-timeAgo-value span:nth-child(1):after {
    content: ":";
  }

  .matchCard__headText-timeAgo-value span:nth-child(2) {
    display: none;
  }

  .matchCard__headText-timeAgo-value span:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .matchCard__body-main-teamImg {
    max-width: 30px;
  }

  .matchCard__headText-tabsGradientWrapper {
    max-width: 150px;
  }
}

@media screen and (max-width: 380px) {
  .matchCard__body-main-textInfo-key {
    max-width: 70px;
  }
}