.userCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 10px 12px 10px 30px;
  font-size: 12px;
  font-weight: 700;
  min-height: 40px;
}

.userCard__imgWrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 35px;
}

.userCard__imgWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  background: linear-gradient(to right, transparent, var(--bg-accent-primary));
  pointer-events: none;
  z-index: 2;
}

.userCard__img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-top-left-radius: var(--border-radius-card);
  border-bottom-left-radius: var(--border-radius-card);
  width: 100%;
  object-fit: cover;
}

.userCard__userInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.userCard__investBtn {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--border-radius-button);
  background-color: var(--color-important);
  margin-left: auto;
  min-height: 25px;
  min-width: unset;
}

.userCard__investBtn-text {
  font-weight: 600;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 12px;
}

.userCard__amount {
  position: relative;
  min-width: 55px;
  text-align: right;
}

@media screen and (max-width: 991px) {
  .userCard__amount {
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .userCard .userCard__userInfo-name {
    max-width: 160px;
  }
}