.pillsContainer {
  position: relative;
}

.pillsContainer.pillsContainer--WithScroll:after {
  opacity: 1;
}

.pillsContainer.pillsContainer--Scrolled:before {
  opacity: 1;
}

.pillsContainer:before {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 92%, var(--bg-primary) 100%);
  pointer-events: none;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  border-radius: var(--border-radius-card-content);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.pillsContainer:after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 92%, var(--bg-primary) 100%);
  pointer-events: none;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  border-radius: var(--border-radius-card-content);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.pills {
  display: flex;
  position: relative;
  border-radius: var(--border-radius-card-content);
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 0 3px 0 1px;
}

.pills::-webkit-scrollbar {
  display: none;
}

.pills * {
  z-index: 2;
}

.pills__link {
  width: 100%;
  max-width: unset;
}

.pills__label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 16px;
  cursor: pointer;
  max-width: 180px;
  width: 100%;
  user-select: none;
}

.pills__label-redDot {
  width: 5px;
  height: 5px;
}

.pills__label:before {
  transition: all .2s ease-in-out;
  filter: url(#filter-color-primary);
}

.pills__label-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
}

.pills__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.pills__input:checked + label {
  color: var(--color-contrast);
}

.pills__input:checked + label:before {
  filter: url(#filter-color-contrast);
}

.pills__glider {
  position: absolute;
  max-width: 180px;
  height: calc(100% - 4px);
  top: 2px;
  display: flex;
  z-index: 1;
  border-radius: var(--border-radius-card-content);
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 991px) {
  .pills__label-text {
    max-width: unset;
  }
}