@import "icons.css";

button {
  font-family: 'Roboto Flex', sans-serif;
  cursor: pointer;
  transition: all .2s ease-in-out;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  min-width: 100px;
  min-height: 30px;
  padding: 5px 15px;
  border-radius: var(--border-radius-button);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

button.bg-important-text {
  color: var(--color-contrast);
}

button.bg-primary-text:hover {
  background-color: var(--color-important);
}

button.bg-important-text:hover {
  filter: url(#filter-color-primary);
}

button.bg-warning:hover {
  box-shadow: 0 0 12px 0 var(--color-money);
}

[data-button-icon].bg-important-text:before {
  filter: url('#filter-color-contrast');
}

[data-button-size="small"] {
  font-size: 12px;
  min-width: unset;
  padding: 5px 10px;
}

[data-button-icon-position="right"]:before {
  order: 2;
}