@import "colors.css";

.disciplines {
  display: flex;
  align-items: stretch;
  gap: 2%;
}

.disciplines__pills {
  padding: 12px;
  border-radius: var(--border-radius-card);
  border-right: 1px solid var(--bg-accent-primary);
}

.disciplines__pills-container-glider {
  box-shadow: 0 0 8px 0 var(--bg-warning);
}

.disciplines__listWrapper {
  width: 100%;
  margin-right: 20px;
}

.disciplines__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}

.disciplines__list-item {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  min-width: 45px;
  max-width: 45px;
  min-height: 69px;
  transition: all .2s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

/* Trapezoid */
.disciplines__list-item:before {
  content: "";
  position: absolute;
  border-bottom: 3px solid;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  width: 100%;
  bottom: -3px;
}

.disciplines__list-item--Active:before {
  bottom: 0;
}

.disciplines__list-item:after {
  transition: all .2s ease-in-out;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 20%;
  pointer-events: none;
}

.disciplines__list-item.disciplines__list-item--Active.disciplines__list-item:after {
  opacity: 30%;
  transition: all .2s ease-in-out;
}

.disciplines__list-item-link {
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.disciplines__list-item-link-icon {
  object-fit: contain;
}

.disciplines__list-item-link:not(.disciplines__list-item-link--Active):hover {
  border-bottom: 3px solid transparent;
}


@media screen and (max-width: 1200px) {
  .disciplines__listWrapper {
    scrollbar-width: none;
    overflow-x: scroll;
    margin-right: 20px;
  }

  .disciplines__listWrapper::-webkit-scrollbar {
    display: none;
  }

  .disciplines__list {
    justify-content: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 991px) {
  .disciplines__listWrapper {
    display: none;
  }

  .disciplines__list {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: fit-content;
    margin: 0 auto;
  }

  .disciplines__list-item {
    min-height: 45px;
    border-radius: var(--border-radius-card);
    margin: 0 auto;
  }

  .disciplines__list-item:before {
    display: none;
  }

  .disciplines__list-item .disciplines__list-item-link:hover {
    border-bottom: none;
  }

  .disciplines__list-item.disciplines__list-item--Active {
    border: 1px solid;
  }

  .disciplines__pills {
    width: 100%;
    border-right: none;
    padding: 10px 20px;
  }

  .disciplines__pills-container .pills__label {
    max-width: unset;
  }

  .disciplines__pills-container .pills__glider {
    max-width: unset;
  }

  .pills__label-text {
    max-width: 100px;
  }
}

@media screen and (max-width: 576px) {
  .disciplines__pills-container .pills__label {
    gap: 6px;
    padding: 10px 14px;
  }
}

@media screen and (max-width: 380px) {
  .disciplines__list {
    grid-template-columns: repeat(5, 1fr);
  }
}