/* GLOBAL */
[data-link-custom-icon]:before, [data-pill-icon]:before, [data-card-side-icon]:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

[data-link-default-icon="important"]:after {
  content: url("../icons/link-important.svg");
  width: 9px;
  height: 9px;
  display: flex;
  align-items: center;
}

[data-link-custon-icon-position="start"]:before {
  order: 0;
}

[data-link-custon-icon-position="end"]:before {
  order: 2;
}

[data-icon-color="important"]:before {
  filter: url(#filter-color-important);
}

[data-icon-color="primary"]:before {
  filter: url(#filter-color-primary);
}

[data-icon-color="contrast"]:before {
  filter: url(#filter-color-contrast);
}

[data-icon-color="red"]:before {
  filter: url(#filter-color-red);
}

[data-link-default-icon="primary"]:after {
  content: url("../icons/link-primary.svg");
}

[data-link-custom-icon="false"]:before {
  content: "";
}

[data-link-custom-icon="bets"]:before {
  content: url("../../components/header/img/bets.svg");
}

[data-link-custom-icon="investments"]:before {
  content: url("../../components/header/img/investments.svg");
}

[data-link-custom-icon="items"]:before {
  content: url("../../components/header/img/items.svg");
}

[data-link-custom-icon="payments"]:before {
  content: url("../../components/header/img/payments.svg");
}

[data-link-custom-icon="market"]:before {
  content: url("../../components/header/img/market.svg");
}

[data-link-custom-icon="support"]:before {
  content: url("../../components/header/img/support.svg");
}

[data-link-custom-icon="mail"]:before {
  content: url("../../components/footer/img/mail.svg");
  margin-bottom: -3px;
}

[data-link-custom-icon="steam"]:before {
  content: url("../../components/footer/img/steam.svg");
}

[data-link-custom-icon="registration"]:before {
  content: url("../icons/registration.svg");
}

[data-link-custom-icon="forgot-password"]:before {
  content: url("../icons/forgot-password.svg");
  height: 16px;
}

[data-link-custom-icon="clock"]:before {
  content: url("../../ui/matchCard/img/clock.svg");
  height: 13px;
}

[data-link-custom-icon="arrow-single"]:before {
  content: "";
  background-image: url("../icons/arrow-single.svg");
  transform: rotate(180deg);
  width: 9px;
  height: 5px;
  margin-top: 1px;
}


/* ----- MATCH CARD ----- */
/* side icon */
[data-card-side-icon="coins"]:before {
  content: "";
  background-image: url("/ui/matchCard/img/coins.svg");
  width: 8px;
  height: 15px;
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
}

[data-card-side-icon="cross"]:before {
  content: "";
  background-image: url("../icons/cross.svg");
  width: 8px;
  height: 8px;
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
}

/* tabs */
[data-link-custom-icon="shield"]:before {
  content: url("../../ui/matchCard/img/shield.svg");
}

[data-link-custom-icon="hc"]:before {
  content: url("../../ui/matchCard/img/hc.svg");
}

[data-link-custom-icon="fb"]:before {
  content: url("../../ui/matchCard/img/fb.svg");
}

[data-link-custom-icon="game3"]:before {
  content: url("../../ui/matchCard/img/game3.svg");
}

[data-link-custom-icon="expand"]:before {
  content: "";
  background-image: url("../icons/expand.svg");
  min-width: 10px;
  min-height: 10px;
}


/* WINNER CROWN */
[data-winner-icon="true"] abbr {
  position: relative;
  top: -2px;
}

[data-winner-icon="true"]:before {
  content: url("../../assets/icons/crown.svg");
  position: relative;
  top: 1px;
}

.matchCard__body-main-textInfo--SecondTeam [data-winner-icon="true"]:before {
  content: "";
}

.matchCard__body-main-textInfo--SecondTeam [data-winner-icon="true"]:after {
  content: url("../../assets/icons/crown.svg");
  position: relative;
  top: 1px;
}

/* LANGUAGES */
[data-link-custom-icon="english"]:before {
  content: "";
  background-image: url("../../ui/dropdown/img/en.svg");
  min-width: 19px;
  height: 19px;
}

[data-link-custom-icon="russian"]:before {
  content: "";
  background-image: url("../../ui/dropdown/img/ru.svg");
  min-width: 19px;
  height: 19px;
}

[data-link-custom-icon="ukrainian"]:before {
  content: "";
  background-image: url("../../ui/dropdown/img/ru.svg");
  min-width: 19px;
  height: 19px;
}

/* PILLS */
[data-pill-icon="cs_go"]:before {
  content: "";
  background-image: url("../../ui/pills/img/cs_go.svg");
  width: 16px;
  height: 16px;
}

[data-pill-icon="fast-bets"]:before {
  content: "";
  background-image: url("../../ui/pills/img/fast-bets.svg");
  width: 16px;
  height: 16px;
}

/* BET ACCORDIONS */
[data-card-bet-icon]:before {
  content: "";
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

[data-card-bet-icon="game3"]:before {
  background-image: url("../../ui/matchCard/img/game3.svg");
  min-width: 12px;
  min-height: 14px;
}

/* TODO: maybe do all icons in this format */
/* MISC */
[data-before-icon]:before, [data-after-icon]:after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-width: 14px;
  min-height: 14px;
}

[data-before-icon="fast-bets"]:before {
  content: "";
  background-image: url("../icons/fast-bets.svg");
}